*.iml
/.gradle/
/.idea/
/build.log
/build/
/src/test/resources/*/output*/
/src/test/resources/output/test-*.jsonl
/target/
src/conf/hbzfix/de-1020-metafix-baseline.json
src/conf/hbzfix/de-1073-metafix-baseline.json
src/conf/hbzfix/de-1082-metafix-baseline.json
src/conf/hbzfix/de-1082a-metafix-baseline.json
src/conf/hbzfix/de-1084-metafix-baseline.json
src/conf/hbzfix/de-1088-metafix-baseline.json
src/conf/hbzfix/de-1214-metafix-baseline.json
src/conf/hbzfix/de-1226-metafix-baseline.json
src/conf/hbzfix/de-131-metafix-baseline.json
src/conf/hbzfix/de-132-metafix-baseline.json
src/conf/hbzfix/de-136-metafix-baseline.json
src/conf/hbzfix/de-142-metafix-baseline.json
src/conf/hbzfix/de-157-metafix-baseline.json
src/conf/hbzfix/de-168-metafix-baseline.json
src/conf/hbzfix/de-171-metafix-baseline.json
src/conf/hbzfix/de-1861-metafix-baseline.json
src/conf/hbzfix/de-224-metafix-baseline.json
src/conf/hbzfix/de-229-metafix-baseline.json
src/conf/hbzfix/de-232-metafix-baseline.json
src/conf/hbzfix/de-233-metafix-baseline.json
src/conf/hbzfix/de-236-metafix-baseline.json
src/conf/hbzfix/de-238-metafix-baseline.json
src/conf/hbzfix/de-242-metafix-baseline.json
src/conf/hbzfix/de-2422-metafix-baseline.json
src/conf/hbzfix/de-259-metafix-baseline.json
src/conf/hbzfix/de-260-metafix-baseline.json
src/conf/hbzfix/de-274-metafix-baseline.json
src/conf/hbzfix/de-2826-metafix-baseline.json
src/conf/hbzfix/de-364-metafix-baseline.json
src/conf/hbzfix/de-374-metafix-baseline.json
src/conf/hbzfix/de-382-metafix-baseline.json
src/conf/hbzfix/de-409-metafix-baseline.json
src/conf/hbzfix/de-414-metafix-baseline.json
src/conf/hbzfix/de-436-metafix-baseline.json
src/conf/hbzfix/de-444-metafix-baseline.json
src/conf/hbzfix/de-447-metafix-baseline.json
src/conf/hbzfix/de-470-metafix-baseline.json
src/conf/hbzfix/de-62-metafix-baseline.json
src/conf/hbzfix/de-707-metafix-baseline.json
src/conf/hbzfix/de-709-metafix-baseline.json
src/conf/hbzfix/de-72-metafix-baseline.json
src/conf/hbzfix/de-736-metafix-baseline.json
src/conf/hbzfix/de-782-metafix-baseline.json
src/conf/hbzfix/de-797-metafix-baseline.json
src/conf/hbzfix/de-798-metafix-baseline.json
src/conf/hbzfix/de-920-metafix-baseline.json
src/conf/hbzfix/de-a99-metafix-baseline.json
src/conf/hbzfix/de-b1509-metafix-baseline.json
src/conf/hbzfix/de-bm2-metafix-baseline.json
src/conf/hbzfix/de-bo110-metafix-baseline.json
src/conf/hbzfix/de-bo133-metafix-baseline.json
src/conf/hbzfix/de-bo412-metafix-baseline.json
src/conf/hbzfix/de-dm11-metafix-baseline.json
src/conf/hbzfix/de-dm16-metafix-baseline.json
src/conf/hbzfix/de-dm23-metafix-baseline.json
src/conf/hbzfix/de-due59-metafix-baseline.json
src/conf/hbzfix/de-e15-metafix-baseline.json
src/conf/hbzfix/de-kai1-metafix-baseline.json
src/conf/hbzfix/de-kn194-metafix-baseline.json
src/conf/hbzfix/de-kob3-metafix-baseline.json

