*.iml
/.gradle/
/.idea/
/build/
/src/test/resources/*/output*/*
!/src/test/resources/*/output.fix/metafix-wip.json
/src/test/resources/output/test-*.jsonl
/target/
src/test/resources/limetrans/output.fix/metafix-wip.json
.vscode/settings.json
